html {
  background-color: #103687;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  /* background-color: #152f56; */

  background: linear-gradient(-45deg, #543a88, #103687, #2d63bb);
  /* background-size: 150% 150%; */
  /* animation: gradient 10s ease-in-out infinite; */
}

/* TODO: Reconsider background animation */
/* @keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
} */

#logo {
  animation: breathing 5s ease-in-out infinite normal;
}

@keyframes breathing {
  0% {
    transform: scale(0.8);
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.3));
  }

  50% {
    transform: scale(0.9);
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.6));
  }

  100% {
    transform: scale(0.8);
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.3));
  }
}

.drophover:hover {
  box-shadow: 5px 5px 6px #00000080;
  z-index: 2;
  transition: all 0.15s ease-in-out;
  transform: scale(1.1);
  background-color: #00000051;
}

.hoverzoom:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.25);
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                            supported by Chrome and Opera */
}

.mui-appbar {
  box-shadow: 0px 0px 30px #00000050;
  background-image: linear-gradient(
    to bottom,
    rgb(67, 142, 255),
    rgb(16, 84, 255)
  );

  outline-color: rgba(11, 48, 149, 0.682);
  outline-width: 2px;
  outline-style: solid;

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.container {
  width: 93%;
  margin: 0 auto;
}

/* clearfix */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

.gutter-sizer {
  width: 2%;
}

.grid-sizer {
  width: 18.4%;
}

.grid-item {
  float: left;
  width: 18.4%;
  box-shadow: 4px 4px 4px #0000003f;
}

.outline {
  outline-color: rgba(0, 0, 0, 0.3);
  outline-width: 2px;
  outline-style: solid;
  background-color: #00000027;
  z-index: 1;
}

.errorbox {
  color: white;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.8));
}

xmp {
  white-space: pre-wrap;
  text-align: center;
}

#pageSwitcher,
#pageSwitcherBottom {
  display: none; /* this will be set to 'flex' when images are loaded */
  justify-content: space-between;
  align-items: stretch;
  text-align: center;
  font-weight: bolder;
}

.left-box,
.right-box {
  width: 138px;
}

.center-box {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.8));
}

.mui-btn {
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
  background: linear-gradient(-45deg, #1a48ac, #4796db);
}

#settingsModal {
  width: 70%;
  height: 70%;
  margin: 100px auto;
  background: linear-gradient(-45deg, #565fc7, #92dbff);
  padding: 10px 10px 10px 10px;
  box-shadow: 2px 2px 8px #000000;
  font-size: small;
}

.settingsInput {
  font-size: large;
  width: 100%;
}

.px {
  padding-right: 8px;
}

#postViewModal {
  width: 90%;
  height: 90%;
  margin: 100px auto;
  padding: 10px 10px 10px 10px;
  box-shadow: 2px 2px 8px black;
  font-size: small;
}
